<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <title>David Williams' Resume</title>
  
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700|Open+Sans:400,300,800,700' rel='stylesheet' type='text/css'>
  
    <meta name="description" content="Dave's resume webpage.">
  
    <link rel="stylesheet" href="css/main.css">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="icon" type="image/x-icon" href="/icon_192.png" />
    <link rel="shortcut icon" type="image/png" href="/icon_192.png">
    <link rel="shortcut icon" sizes="192x192" href="/icon_192.png">
    <link rel="apple-touch-icon" href="/icon_192.png">
  </head>

  <body class="theme-{% if site.resume_theme %}{{ site.resume_theme }}{% endif %}">
    <div class="wrapper" itemscope itemtype="http://schema.org/Person">
      <header class="page-header">
        <img src="images/me_c_x400.png" alt="my photo" class="avatar no-print" itemprop="image">
        <h1 class="header-name" itemprop="name">David Williams</h1>

        <div class="header-contact-info">
          <p><a id="email-link" href="mailto:dvdjwllms@gmail.com">&mdash; dvdjwllms@gmail.com &mdash;</a></p>
        </div>

        <div class="title-bar no-print">
          <h2 class="header-title" itemprop="jobTitle">Full-Stack Software Engineer</h2>

          <ul class="icon-links">
            <li class="icon-link-item"><a href="https://www.linkedin.com/in/dvdjwllms/" class="icon-link" target="_blank" itemprop="sameAs">{% include icons/icon-linkedin.html %}</a></li>
          </ul>
        </div>

        <div class="executive-summary" itemprop="description">
          <p>David is currently employed as a full stack developer at Blue Apron. His team utilizes Ruby on Rails with a React front-end.</p>
        </div>
      </header>

      <section class="content-section">
        <header class="section-header">
          <h2>Experience</h2>
        </header>

        {% for job in site.data.experience %}
        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
          <h3 class="resume-item-title" itemprop="name">{{ job.company }}</h3>
          <h4 class="resume-item-details" itemprop="description">{{ job.position }} &bull; {{ job.duration }}</h4>
          <p class="resume-item-copy">{{ job.summary }}</p>
        </div>
        {% endfor %}
      </section>

      <section class="content-section">
        <header class="section-header">
          <h2>Education</h2>
        </header>

        {% for education in site.data.education %}
        <div class="resume-item" itemscope itemprop="alumniOf" itemtype="http://schema.org/CollegeOrUniversity">
          <h3 class="resume-item-title" itemprop="name">{{ education.uni }}</h3>
          <h4 class="resume-item-details group" itemprop="description">{{ education.degree }} &bull; {{ education.year }}</h4>
          <h5 class="resume-item-details award-title" itemprop="description">{{ education.award }}</h5>
          <p class="resume-item-copy" itemprop="description">
            <ul class="resume-item-list">
              {% for award in education.awards %}
              <li>{{ award.award }}</li>
              {% endfor %}
            </ul></h5>


          <p class="resume-item-copy">{{ education.summary }}</p>
        </div>
        {% endfor %}
      </section>

      <section class="content-section">
        <header class="section-header">
          <h2>Skills</h2>
        </header>
        {% for skill in site.data.skills %}
        <div class="resume-item">
          <h4 class="resume-item-details">{{ skill.skill }}</h4>
          <p class="resume-item-copy">{{ skill.description }}</p>
        </div>
        {% endfor %}
      </section>

      <section class="content-section print-only">
        <header class="section-header">
          <h2>Social Links</h2>
        </header>

        <div class="resume-item">
          <ul>
            <li><strong>LinkedIn</strong>: https://www.linkedin.com/in/dvdjwllms/</li>
          </ul>
        </div>
      </section>

      <footer class="page-footer">
        <p class="footer-line">Thanks for reading</p>
      </footer>
    </div>
  </body>
</html>
